.skill-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.branches {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.branch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 16px;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px 60px;
}

.skill {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 50%;
  color: red;
  cursor: pointer;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.skill.selected {
  background-color: #ffd700;
  color: white;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7), 0 0 20px rgba(255, 215, 0, 0.5),
    0 0 30px rgba(255, 215, 0, 0.3), 0 0 40px rgba(255, 215, 0, 0.2);
}

.connector-right,
.connector-left,
.connector-straight {
  width: 100px;
  height: 120px;
  position: absolute;
  top: -90px;
  border-radius: 24px;
}

.connector-right {
  left: -65px;
  border-top: 10px solid gray;
  border-right: 10px solid gray;
}

.connector-left {
  right: -65px;
  border-top: 10px solid gray;
  border-left: 10px solid gray;
}

.connector-straight {
  right: -65px;
  border-left: 10px solid gray;
}

.connector-right.active {
  border-top: 10px solid yellow;
  border-right: 10px solid yellow;
  z-index: 10;
}

.connector-left.active {
  border-top: 10px solid yellow;
  border-left: 10px solid yellow;
  z-index: 10;
}

.connector-straight.active {
  border-left: 10px solid yellow;
  z-index: 10;
}

.explanation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 1px solid red;
  border-radius: 1px 20px 1px 20px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  padding: 16px;
  width: 300px;
  background-color: black;
  padding: 30px;
  text-align: left;
  z-index: 100;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.6), 0 0 15px rgba(255, 0, 0, 0.4);
}
